<link rel="stylesheet" href="/css/home.css">
<h1>hello this is home page</h1>

<section id="feed-posts">
    <h4>Posts</h4>
     
    <!-- Authentication for posts 1st level check -->
    <%if(locals.user){%>
        <form action="/posts/create" id="new-post-form" method="post">
            <textarea name="content" id="" cols="30" rows="3" placeholder="Type here"></textarea>
            <input type="submit" value="Post">
        </form>
    <%}%>
    <ul>
        <%for(post of posts){%>
            <!-- shortening the code using partials -->
            <%- include('_post')-%>
        <%}%>
    </ul>

</section>
<section id="friends">
    <% for(u of users){ %>
        <p>
            <a href="/users/profile/<%= u.id %>"><%=u.name %></a>
        </p>
    <%} %>
</section>