<!-- This link will now be embedded in head tag because we
    included these below lined in index.js
app.set('layout extractStyles',true)
app.set('layout extractScripts',true);

and 
also using lessThan%- style%Gr8ter and LessThan%- script%Gr8terThan in layout.ejs -->

<link rel="stylesheet" href="/css/user_profile.css">
<h1>hello this is User profile page</h1>

<p><%= user.name %></p>
<p><%= user.email %></p>