<link rel="stylesheet" href="/css/user_sign_in.css">

<div class="signInPage">
    <h1 style="color: black;">Sign In</h1>

    <form class="signInForm" action="/users/create-session" method="POST">
        <div class="fill">
            <input type="email" name="email" placeholder="Email"  required>
            <input type="password" name="password" placeholder="Password"  required>
        </div>
        <input type="submit" value="Sign In">
        
    
    </form>
</div>
