header {
  display: flex;
  border-bottom: 1px solid black;
  align-items: center;
  justify-content: space-between; }

.user-sign {
  display: flex; }
  .user-sign a {
    font-size: 30px;
    text-decoration: none; }
